<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% if (typeof title === 'undefined') { var title = 'My App'; } %>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Optional CSS -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <!-- Main page content goes here -->
  <%- body %>

</body>
</html>
